/PortFolioManager/.vs/config/applicationhost.config
/PortFolioManager/.vs/PortFolioManager/v14/.suo
/PortFolioManager/.vs/PortFolioManager/v15/.suo
/PortFolioManager/PortFolioManager/bin/Microsoft.PythonTools.WebRole.dll
/PortFolioManager/PortFolioManager/bin/wfastcgi.py
/PortFolioManager/PortFolioManager/PortFolioManager/__init__.pyc
/PortFolioManager/PortFolioManager/PortFolioManager/views.pyc
/PortFolioManager/PortFolioManager/PortFolioManager/Configurator.pyc
/PortFolioManager/PortFolioManager/obj/Debug/PortFolioManager.pyproj.CoreCompileInputs.cache
/PortFolioManager/PortFolioManager/obj/Debug/PortFolioManager.pyproj.FileListAbsolute.txt
